.About{
    display: flex;
    flex-direction: column;

    #{&}_bio{
        background:
    linear-gradient(
        to right,
        rgba($primary-color,0.9),
        rgba($primary-color,0.3)
    ),
    url("../img/Code.jpg") center top;
    background-size: cover;
    color: set-text-color(rgba($primary-color,0.3));
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
   
    }
    #{&}_title{
        color: $secondary-color;
    };
    #{&}_biography{
        margin-bottom: 2rem;
    };

    #{&}_experience{
        min-height: 50vh;
        background-color: rgba(0, 0, 0, 0.849);
        color: set-text-color(rgba(0, 0, 0, 0.809));
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
        h2{
            color: $secondary-color;
        }
        h2,h3{
            margin: .5rem 0;
        }
        div{
            width: 70%;
            margin: 0 auto;
            background-color: rgb(51, 50, 50);
            border-bottom: solid 5px $secondary-color;
        }
    }
}
@include media-lg{

    .About{
        #{&}_biography{
            font-size: 1.1rem;
        }
        #{&}_title{
            font-size: 2rem;
        }
    }
   
  }
@include media-xl{
    .About{
        #{&}_biography{
            font-size: 1.4rem;
        }
        #{&}_title{
            font-size: 2.4rem;
        }
        #{&}_experience{
            h2{
                font-size: 2rem; 
            }
            h3{
                font-size: 1.4rem;
            }
            div h4{
                font-size: 1.3rem;
            }
            p{
                font-size: 1.1rem;  
            }
        }
    }
 
   
  }