.project {
    display: flex;
    flex-direction: column;
  }
  .project .project_home {
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/Code.jpg") center top;
    background-size: cover;
    color: #fff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  .project .project_title {
    color: rgb(255, 101, 47);
    margin: 0.5rem 0;
    font-size: 2rem;
  }
  .project .project_experience {
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.849);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 0;
  }
  .project .project_experience h2 {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .project .project_img {
    width: 100%;
  }
  .project .project_div {
    width: 70%;
    max-width: 400px;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1rem auto;
    background-color: rgb(51, 50, 50);
    border-bottom: solid 5px rgb(255, 101, 47);
    position: relative;
  }
  .project .project_buttons {
    position: absolute;
    top: 0;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  .project .project_buttons::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 0%;
    width: 100%;
    background: rgb(39, 39, 39);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .project .project_buttons a {
    z-index: 2;
    margin-bottom: 27px;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  .project .project_buttons:hover::after {
    top: 0;
    opacity: 0.9;
    height: 100%;
  }
  .project .project_buttons:hover a {
    display: block;
    visibility: visible;
  }
  
  @media screen and (min-width: 1024px) {
    .project .project_experience {
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }
    .project .project_div {
      max-width: 600px;
    }
    .project .project_home {
      height: 40vh;
    }
  }
  @media screen and (min-width: 1600px) {
    .project .project_experience {
      grid-template-columns: repeat(3, 1fr);
    }
    .project .project_div {
      max-width: 800px;
    }
    .project .project_home {
      height: 50vh;
    }}